@use "../styles/global_variables.module.scss" as vars;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 60px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 60%);
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: white;
}

.nav-item-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item-list#active {
  right: 0;
}

.nav-item-list button {
  color: vars.$committee-color;
  text-transform: none;
  background-color: white;
  border: 2px solid vars.$committee-color;
  margin: 0;
}

.nav-item-list button:hover {
  color: white;
  background-color: vars.$committee-color;
}

.nav-item-list li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.nav-item-list li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: black;
  transition: 0.3s;
}

.nav-item-list li a:hover {
  color: vars.$committee-color;
}

#small-screen {
  display: none;
}

#small-screen i:hover {
  color: vars.$committee-color;
}

@media screen and (max-width: 1024px) {
  .nav-item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 70px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: white;
    opacity: 0.95;
    box-shadow: 0 2px 5px rgb(0 0 0 / 60%);
    padding: 40px 0 0 10px;
  }

  .nav-item-list li {
    margin-bottom: 25px;
  }

  #small-screen {
    display: block;
  }

  #small-screen i {
    font-size: 24px;
    cursor: pointer;
  }
}
